<script src="@Url.Content("~/js/UI/Dialogs/Barcode/BarcodeReaderSettingsDialog.js")" type="text/javascript"></script>
<div class="modal" id="barcodeReaderSettingDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Barcode reader settings</h5>
            </div>
            <div class="modal-body">
                <div id="barcodeReaderSettingGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="barcodeReaderOkButton">OK</button>
                <button type="button" class="btn btn-default" id="barcodeReaderCancelButton" onclick="javascript: BarcodeReaderSettingsDialogJS.cancelButton_clicked(); return false;">Close</button>
            </div>
        </div>
    </div>
</div>